<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zb.mapper.ControlMapper">

	<resultMap type="com.zb.entity.Control" id="controlMap">
		<id column="cid" property="cid" />
		<result column="pid" property="pid" />
		<result column="deviceNum" property="deviceNum" />
		<result column="operationState" property="operationState" />
		<result column="updateTime" property="updateTime" />
	</resultMap>

	<insert id="addControl" parameterType="Control">
		insert into db_control(cid,pid,deviceNum,operationState,updateTime) values(null,#{pid},#{deviceNum},#{operationState},CURRENT_TIMESTAMP)
	</insert>
	
	<update id="updateControl" parameterType="Control">
		update db_control
		<set>
			<if test="pid!=null and pid != ''">pid=#{pid},</if>
			<!-- <if test="deviceNum!=null and deviceNum != ''">deviceNum=#{deviceNum},</if> -->
			<if test="operationState!=null and operationState != ''">operationState=#{operationState},</if>
			updateTime=(SELECT CURRENT_TIMESTAMP)
		</set>
		where deviceNum = #{deviceNum}
	</update>

	
	<delete id="deleteControlCid" parameterType="Integer">
		delete from db_control where cid = #{cid}
	</delete>
	
	<delete id="deleteControlDeviceNum" parameterType="String">
		delete from db_control where deviceNum = #{deviceNum}
	</delete>
	
	<sql id="getControl">
	<if test="deviceNum!=null and deviceNum != ''">
            and deviceNum=#{deviceNum}
        </if>
	</sql>
	<select id="selectControl" resultMap="controlMap">
		select cid,pid,deviceNum,operationState,DATE_FORMAT(updateTime,'%Y-%m-%d %H:%i:%s') as updateTime 
		from db_control where 1=1
		<include refid="getControl"></include>
	</select>
</mapper>
