<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zb.mapper.DeviceInfoMapper">

	<resultMap type="com.zb.entity.DeviceComb" id="deviceCombMap">
		<id column="did" property="did" />
		<result column="deviceName" property="deviceName" />
		<result column="deviceNum" property="deviceNum" />
		<result column="deviceDes" property="deviceDes" />
		<result column="dcreateTime" property="createTime" />
		<association property="project" javaType="com.zb.entity.Project" column="pid">
			<id column="pid" property="pid" />
			<result column="projectName" property="projectName" />
			<result column="projectAddress" property="projectAddress" />
			<result column="log" property="log" />
			<result column="lat" property="lat" />
			<result column="projectInfo" property="projectInfo" />
			<result column="projectImg" property="projectImg" />
			<result column="pcreateTime" property="createTime" />
		</association>
	</resultMap>

	<insert id="addDevice" parameterType="DeviceInfo">
		insert into db_deviceInfo(did,pid,deviceName,deviceNum,deviceDes,createTime)
		values(null,#{pid},#{deviceName},#{deviceNum},#{deviceDes},CURRENT_TIMESTAMP)
	</insert>

	<delete id="deleteDevice" parameterType="Integer">
		delete from db_deviceInfo where did = #{did}
	</delete>

	<update id="updateDevice" parameterType="DeviceInfo">
		update db_deviceInfo
		<set>
			<if test="pid!=null and pid != ''">pid=#{pid},</if>
			<if test="deviceName!=null and deviceName != ''">deviceName=#{deviceName},</if>
			<if test="deviceNum!=null and deviceNum != ''">deviceNum=#{deviceNum},</if>
			<if test="deviceDes!=null and deviceDes != ''">deviceDes=#{deviceDes},</if>
			createTime=(SELECT CURRENT_TIMESTAMP)
		</set>
		where did = #{did}
	</update>

	<sql id="getDeviceInfo">
		<if test="projectName!=null and projectName != ''">
			and projectName=#{projectName}
		</if>
		<if test="deviceName!=null and deviceName != ''">
			and s.sensorName like concat('%',#{deviceName},'%')
		</if>
		<if test="deviceNum!=null and deviceNum != ''">
			and deviceNum like concat('%',#{deviceNum},'%')
		</if>
		<if test="deviceDes!=null and deviceDes != ''">
            and deviceDes=#{deviceDes}
        </if>

	</sql>

	<select id="searchCount" resultType="Integer">
	<!-- 	select count(*)
		from db_deviceinfo d
		left join db_project p on d.pid = p.pid where 1 = 1 -->
		SELECT count(*)  from (   select d.did,d.pid,d.deviceName,d.deviceNum,d.deviceDes,DATE_FORMAT(d.createTime,'%Y-%m-%d %H:%i:%s') as dcreateTime,
        p.projectName,p.projectAddress,p.log,p.lat,p.projectInfo,p.projectImg,DATE_FORMAT(p.createTime,'%Y-%m-%d %H:%i:%s') as pcreateTime
        from db_deviceinfo d left join db_project p on d.pid = p.pid )a , db_sensorinfo s WHERE a.deviceName =s.sensid
	 	<include refid="getDeviceInfo"></include>
	</select>

	<select id="searchDevice" resultMap="deviceCombMap">
		<!-- select d.did,d.pid,d.deviceName,d.deviceNum,d.deviceDes,DATE_FORMAT(d.createTime,'%Y-%m-%d %H:%i:%s') as dcreateTime,
		p.pid,p.projectName,p.projectAddress,p.log,p.lat,p.projectInfo,p.projectImg,DATE_FORMAT(p.createTime,'%Y-%m-%d %H:%i:%s') as pcreateTime
		from db_deviceinfo d
		left join db_project p on d.pid = p.pid where 1 = 1 -->
		SELECT a.did,a.pid,a.deviceNum,a.deviceDes,a.dcreateTime,a.projectName,a.projectAddress,a.log,a.lat,a.projectInfo,a.projectImg,a.pcreateTime,s.sensorName as deviceName  from (   select d.did,d.pid,d.deviceName,d.deviceNum,d.deviceDes,DATE_FORMAT(d.createTime,'%Y-%m-%d %H:%i:%s') as dcreateTime,
        p.projectName,p.projectAddress,p.log,p.lat,p.projectInfo,p.projectImg,DATE_FORMAT(p.createTime,'%Y-%m-%d %H:%i:%s') as pcreateTime
        from db_deviceinfo d
        left join db_project p on d.pid = p.pid )a , db_sensorinfo s WHERE a.deviceName =s.sensid
	 	<include refid="getDeviceInfo"></include>
		order by did desc
	  	limit #{index} ,#{size}
	</select>

    <sql id="getDevice">
      <if test="did!=null and did != ''">
            and d.did=#{did}
        </if>
        <if test="pid!=null and pid != ''">
            and d.pid=#{pid}
        </if>
        <if test="deviceName!=null and deviceName != ''">
            and d.deviceName like concat('%',#{deviceName},'%')
        </if>
        <if test="deviceNum!=null and deviceNum != ''">
            and d.deviceNum=#{deviceNum}
        </if>
          <if test="deviceDes!=null and deviceDes != ''">
            and d.deviceDes=#{deviceDes}
        </if>

    </sql>
    <resultMap type="com.zb.entity.DeviceInfo" id="selectDeviceMap">
        <id column="did" property="did" />
        <result column="pid" property="pid"/>
        <result column="deviceName" property="deviceName" />
        <result column="deviceNum" property="deviceNum" />
        <result column="deviceDes" property="deviceDes" />
        <result column="createTime" property="createTime" />
    </resultMap>
    <select id="selectDevice" resultMap="selectDeviceMap">
        select d.did,d.pid,d.deviceName,d.deviceNum,d.deviceDes,DATE_FORMAT(d.createTime,'%Y-%m-%d %H:%i:%s') as createTime  from db_deviceinfo d
       where 1=1
        <include refid="getDevice"></include>
        
    </select>
    
    <select id="selectByDeviceNum" resultMap="selectDeviceMap">
        select d.did,d.pid,s.sensorName as deviceName,d.deviceNum,d.deviceDes,DATE_FORMAT(d.createTime,'%Y-%m-%d %H:%i:%s') as createTime  from db_deviceinfo d,db_sensorinfo s 
       where d.deviceName=s.sensid and deviceNum=#{deviceNum}
        
        
    </select>
</mapper>
