<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zb.mapper.RoleInfoMapper">

	<resultMap type="com.zb.entity.RoleInfo" id="roleMap">
		<id column="rid" property="rid" />
		<result column="roleName" property="roleName" />
	</resultMap>


	<select id="selectRole" resultMap="roleMap">
		select * from db_roleinfo order by rid desc
	</select>
	
	
</mapper>
