<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zb.mapper.SensorNowdataMapper">

	<resultMap type="com.zb.entity.SensorNowdataComb" id="sensorNowdataCombMap">
		<id column="nid" property="nid" />
		<result column="val" property="val" />
		<result column="nupdateTime" property="updateTime" />
		<association property="project" javaType="com.zb.entity.Project" column="pid">
			<id column="pid" property="pid" />
			<result column="projectName" property="projectName" />
			<result column="projectAddress" property="projectAddress" />
			<result column="log" property="log" />
			<result column="lat" property="lat" />
			<result column="projectInfo" property="projectInfo" />
			<result column="projectImg" property="projectImg" />
			<result column="pcreateTime" property="createTime" />
		</association>
		<association property="deviceInfo" javaType="com.zb.entity.DeviceInfo" column="deviceNum">
			<id column="did" property="did" />
			<result column="deviceName" property="deviceName" />
			<result column="deviceNum" property="deviceNum" />
			<result column="deviceDes" property="deviceDes" />
			<result column="dcreateTime" property="createTime" />
		</association>
	</resultMap>
	
	<resultMap type="com.zb.entity.SensorNowdata" id="sensorNowdataMap">
		<id column="nid" property="nid" />
		<result column="pid" property="pid" />
		<result column="deviceNum" property="deviceNum" />
		<result column="val" property="val" />
		<result column="updateTime" property="updateTime" />
	</resultMap>	
	

	<insert id="addNowData" parameterType="SensorNowdata">
		insert into db_sensornowdata(nid,pid,deviceNum,val,updateTime) values(null,#{pid},#{deviceNum},#{val},CURRENT_TIMESTAMP)
	</insert>
	
	
	<update id="updateNowData" parameterType="SensorNowdata">
		update db_sensornowdata
		<set>
			<if test="pid!=null and pid != ''">pid=#{pid},</if>
			<if test="val!=null and val != ''">val=#{val},</if>
			updateTime=(SELECT CURRENT_TIMESTAMP)
		</set>
		where deviceNum=#{deviceNum}
	</update>

	
	<sql id="getNowdata">
		<if test="deviceNum!=null and deviceNum != ''">
			and d.deviceNum=#{deviceNum}
		</if>
		<if test="pid!=null and pid != ''">
			and p.pid=#{pid}
		</if>
		
	</sql>
	
	<select id="selectNowDataByDeviceNum" resultMap="sensorNowdataMap">
		select nid,pid,deviceNum,val,DATE_FORMAT(updateTime,'%Y-%m-%d %H:%i:%s') as updateTime from db_sensornowdata where deviceNum = #{deviceNum}		
	</select>
	
	<select id="selectNowData" resultMap="sensorNowdataCombMap">
	<!-- 	select n.nid,n.pid,n.deviceNum,n.val,DATE_FORMAT(n.updateTime,'%Y-%m-%d %H:%i:%s') as nupdateTime,
		p.pid,p.projectName,p.projectAddress,p.log,p.lat,p.projectInfo,p.projectImg,DATE_FORMAT(p.createTime,'%Y-%m-%d %H:%i:%s') as pcreateTime,
		d.did,d.pid,d.deviceName,d.deviceNum,d.deviceDes,DATE_FORMAT(d.createTime,'%Y-%m-%d %H:%i:%s') as dcreateTime
		from db_sensornowdata n
		left join db_project p on n.pid = p.pid
		left join db_deviceinfo d on n.deviceNum = d.deviceNum where 1 = 1 -->
		
		SELECT nid,val,nupdateTime,pid,projectName,projectAddress,log,lat,projectInfo,projectImg,pcreateTime,did,s.sensorName as deviceName,deviceNum,deviceDes,dcreateTime from (select n.nid,n.val,DATE_FORMAT(n.updateTime,'%Y-%m-%d %H:%i:%s') as nupdateTime,
        p.pid,p.projectName,p.projectAddress,p.log,p.lat,p.projectInfo,p.projectImg,DATE_FORMAT(p.createTime,'%Y-%m-%d %H:%i:%s') as pcreateTime,
        d.did,d.deviceName,d.deviceNum,d.deviceDes,DATE_FORMAT(d.createTime,'%Y-%m-%d %H:%i:%s') as dcreateTime
        from db_sensornowdata n
        left join db_project p on n.pid = p.pid
        left join db_deviceinfo d on n.deviceNum = d.deviceNum) nd ,db_sensorinfo s WHERE nd.deviceName=s.sensid
		<include refid="getNowdata"></include>
		order by nid desc
	</select>
	
	<select id="pSensorCount" resultType="Int">
   <!--      select count(*)
        from db_sensornowdata n
        left join db_project p on n.pid = p.pid
        left join db_deviceinfo d on n.deviceNum = d.deviceNum where deviceName=#{deviceName} -->
            SELECT count(*)from (select n.nid,n.val,DATE_FORMAT(n.updateTime,'%Y-%m-%d %H:%i:%s') as nupdateTime,
        p.pid,p.projectName,p.projectAddress,p.log,p.lat,p.projectInfo,p.projectImg,DATE_FORMAT(p.createTime,'%Y-%m-%d %H:%i:%s') as pcreateTime,
        d.did,d.deviceName,d.deviceNum,d.deviceDes,DATE_FORMAT(d.createTime,'%Y-%m-%d %H:%i:%s') as dcreateTime
        from db_sensornowdata n
        left join db_project p on n.pid = p.pid
        left join db_deviceinfo d on n.deviceNum = d.deviceNum) nd ,db_sensorinfo s WHERE nd.deviceName=s.sensid and
         s.sensorName=#{deviceName}

    </select>

    <select id="selectSensorName" resultMap="sensorNowdataCombMap" >
       <!--  select n.nid,n.pid,n.deviceNum,n.val,DATE_FORMAT(n.updateTime,'%Y-%m-%d %H:%i:%s') as nupdateTime,
        p.pid,p.projectName,p.projectAddress,p.log,p.lat,p.projectInfo,p.projectImg,DATE_FORMAT(p.createTime,'%Y-%m-%d %H:%i:%s') as pcreateTime,
        d.did,d.pid,d.deviceName,d.deviceNum,d.deviceDes,DATE_FORMAT(d.createTime,'%Y-%m-%d %H:%i:%s') as dcreateTime
        from db_sensornowdata n
        left join db_project p on n.pid = p.pid
        left join db_deviceinfo d on n.deviceNum = d.deviceNum where 1 = 1 -->
        SELECT nid,val,nupdateTime,pid,projectName,projectAddress,log,lat,projectInfo,projectImg,pcreateTime,did,s.sensorName as deviceName,deviceNum,deviceDes,dcreateTime from (select n.nid,n.val,DATE_FORMAT(n.updateTime,'%Y-%m-%d %H:%i:%s') as nupdateTime,
        p.pid,p.projectName,p.projectAddress,p.log,p.lat,p.projectInfo,p.projectImg,DATE_FORMAT(p.createTime,'%Y-%m-%d %H:%i:%s') as pcreateTime,
        d.did,d.deviceName,d.deviceNum,d.deviceDes,DATE_FORMAT(d.createTime,'%Y-%m-%d %H:%i:%s') as dcreateTime
        from db_sensornowdata n
        left join db_project p on n.pid = p.pid
        left join db_deviceinfo d on n.deviceNum = d.deviceNum) nd ,db_sensorinfo s WHERE nd.deviceName=s.sensid
        <include refid='selectSensor'></include>
    </select>
    <sql id="selectSensor">
        <if test="deviceNum!=null and deviceNum != ''">
            and  s.sensorName=#{deviceNum}
        </if>
        
    </sql>
    
    <select id="countSensorNowdata" resultType="Int">
        select count(*) from db_sensornowdata n where n.deviceNum=#{deviceNum} 
    </select>
</mapper>
