<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zb.mapper.VideoMapper">

	<resultMap type="com.zb.entity.VideoComb" id="videoCombMap">
		<id column="vid" property="vid" />
		<result column="monitorName" property="monitorName" />
		<result column="monitorAdd" property="monitorAdd" />
		<result column="vcreateTime" property="createTime" />
		<association property="project" javaType="com.zb.entity.Project" column="pid">
			<id column="pid" property="pid" />
			<result column="projectName" property="projectName" />
			<result column="projectAddress" property="projectAddress" />
			<result column="log" property="log" />
			<result column="lat" property="lat" />
			<result column="projectInfo" property="projectInfo" />
			<result column="projectImg" property="projectImg" />
			<result column="pcreateTime" property="createTime" />
		</association>
	</resultMap>

	<insert id="addVideo" parameterType="Video">
		insert into db_video(vid,pid,monitorName,monitorAdd,createTime)
		values(null,#{pid},#{monitorName},#{monitorAdd},CURRENT_TIMESTAMP)
	</insert>

	<delete id="deleteVideo" parameterType="Integer">
		delete from db_video where vid = #{vid}
	</delete>

	<update id="updateVideo" parameterType="Video">
		update db_video
		<set>
			<if test="pid!=null and pid != ''">pid=#{pid},</if>
			<if test="monitorName!=null and monitorName != ''">monitorName=#{monitorName},</if>
			<if test="monitorAdd!=null and monitorAdd != ''">monitorAdd=#{monitorAdd},</if>
			createTime=(SELECT CURRENT_TIMESTAMP)
		</set>
		where vid = #{vid}
	</update>

	<sql id="getVideo">
		<if test="pid!=null and pid != ''">
			and p.pid=#{pid}
		</if>
		<if test="monitorName!=null and monitorName != ''">
			and v.monitorName=#{monitorName}
		</if>
		<if test="monitorAdd!=null and monitorAdd != ''">
			and v.monitorAdd=#{monitorAdd}
		</if>
		<if test="vid!=null and vid != ''">
			and v.vid=#{vid}
		</if>

	</sql>

	<select id="searchCount" resultType="Integer">
		select count(*)
		from db_video v
		left join db_project p on v.pid = p.pid where 1 = 1
	 	<include refid="getVideo"></include>
	</select>

	<select id="searchVideo" resultMap="videoCombMap">
		select v.vid,v.pid,v.monitorName,v.monitorAdd,DATE_FORMAT(v.createTime,'%Y-%m-%d %H:%i:%s') as vcreateTime,
		p.pid,p.projectName,p.projectAddress,p.log,p.lat,p.projectInfo,p.projectImg,DATE_FORMAT(p.createTime,'%Y-%m-%d %H:%i:%s') as pcreateTime
		from db_video v
		left join db_project p on v.pid = p.pid where 1 = 1
	 	<include refid="getVideo"></include>
		order by vid desc
	  	limit #{index} ,#{size}
	</select>


</mapper>
