<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zb.mapper.VideoMapper">

	<resultMap type="com.zb.entity.VideoComb" id="videoCombMap">
		<id column="vid" property="vid" />
		<result column="monitorName" property="monitorName" />
		<result column="monitorAdd" property="monitorAdd" />
		<result column="createTime" property="createTime" />
		<association property="project"
			javaType="com.zb.entity.Project" column="pid">
			<id column="pid" property="pid" />
			<result column="projectName" property="projectName" />
			<result column="projectAddress" property="projectAddress" />
			<result column="log" property="log" />
			<result column="lat" property="lat" />
			<result column="projectInfo" property="projectInfo" />
			<result column="projectImg" property="projectImg" />
			<result column="createTime" property="createTime" />
		</association>
	</resultMap>

	<insert id="addVideo" parameterType="Video">
		insert into
		db_video(vid,pid,monitorName,monitorAdd,createTime)
		values(null,#{pid},#{monitorName},#{monitorAddName},CURRENT_TIMESTAMP)
	</insert>

	<delete id="deleteVideo" parameterType="Integer">
		delete from
		db_video where vid = #vid}
	</delete>

	<update id="updateVideo" parameterType="Video">
		update db_video
		<set>
			<if test="vid!=null and vid != ''">vid=#{vid},</if>
			<if test="monitorName!=null and monitorName != ''">monitorName=#{monitorName},</if>
			<if test="monitorAdd!=null and monitorAdd != ''">monitorAdd=#{monitorAdd},</if>
			createTime=(SELECT CURRENT_TIMESTAMP)
		</set>
		where pid = #{pid}
	</update>


</mapper>
