<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zb.mapper.WarnMapper">

	<resultMap type="com.zb.entity.WarnComb" id="warnCombMap">
		<id column="wid" property="wid" />
		<result column="warnInfo" property="warnInfo" />
		<result column="createTime" property="createTime" />
		<association property="project" javaType="com.zb.entity.Project" column="pid">
			<id column="pid" property="pid" />
			<result column="projectName" property="projectName" />
			<result column="projectAddress" property="projectAddress" />
			<result column="log" property="log" />
			<result column="lat" property="lat" />
			<result column="projectInfo" property="projectInfo" />
			<result column="projectImg" property="projectImg" />
			<result column="createTime" property="createTime" />
		</association>
		<association property="deviceInfo" javaType="com.zb.entity.DeviceInfo" column="deviceNum">
			<id column="did" property="did" />
			<result column="deviceName" property="deviceName" />
			<result column="deviceNum" property="deviceNum" />
			<result column="deviceDes" property="deviceDes" />
			<result column="createTime" property="createTime" />
		</association>
	</resultMap>
	
	

	<insert id="addWarn" parameterType="Warn">
		insert into db_warn(wid,pid,deviceNum,warnInfo,createTime) values(null,#{pid},#{deviceNum},#{warnInfo},CURRENT_TIMESTAMP)
	</insert>

	
	<sql id="getWarn">
		<if test="deviceNum!=null and deviceNum != ''">
			and d.deviceNum=#{deviceNum}
		</if>
		<if test="pid!=null and pid != ''">
			and p.pid=#{pid}
		</if>
		<if test="warnInfo!=null and warnInfo != ''">
			and w.warnInfo=#{warnInfo}
		</if>
	</sql>
	
	<select id="searchCount" resultType="Integer">
		select count(*)
		from db_warn w
		left join db_project p on w.pid = p.pid
		left join db_deviceinfo d on w.deviceNum = d.deviceNum where 1 = 1
		<include refid="getWarn"></include>
	</select>
	
	<select id="searchWarn" resultMap="warnCombMap">
		select w.*,p.*,d.*
		from db_warn w
		left join db_project p on w.pid = p.pid
		left join db_deviceinfo d on w.deviceNum = d.deviceNum where 1 = 1
		<include refid="getWarn"></include>
		order by wid desc
		limit #{index} ,#{size}
	</select>
</mapper>
