<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration SYSTEM "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!-- 加载log4j的配置文件 -->
	<settings>
		<setting name="logImpl" value="LOG4J"></setting>
	</settings>

	<typeAliases>
		<!-- 根据包名配置别名，后面写名字的时候，自动在签名添加如下前缀 -->
		<package name="com.zb.entity"/>
	</typeAliases>
		
	<mappers>
		<package name="com.zb.mapper"/>
	</mappers>
</configuration>
